/* Typograpahy */

@font-face {
     font-family: CursedTimer;
     src: url(/CursedTimerUlil-Aznm.ttf);
}

h1,
h2,
h3,
p{
    margin: 0;
}

h3{
    color: #EEEEEE;
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
}

/* LAYOUT */

body {
    margin: 0 auto;
    text-align: center;
    background-color: #1B244A ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 2rem; 
}

.score-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;;
}

.increment-container{
    margin: 0px;
    display: flex;
    justify-content: center;
    gap: 0.4rem; 
}


/* SCORE CARDs */

.score{
    background-color: #080001;
    color: #F94F6D;
    font-size: 90px;
    font-family: CursedTimer;
    line-height: 127px;
    min-width: 155px;
    border-radius: 5px;
}

/* Buttons */

.increment-btn{
    background-color: #1B244A;
    min-width: 45px;
    min-height: 45px;
    box-shadow: 0px 0px 2px #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    line-height: 27px;
    font-size: 18px;
    font-family: CursedTimer;
    color: #9AABD8;
}

#new-game{
    margin: 1rem 0;
    background-color: #1B244A;
    padding: 5px 10px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-size: 23px;
    font-family: CursedTimer;
    color: #9AABD8;
}